<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GiftOfTheGiversFeed" value="https://pkgs.dev.azure.com/ST10365776/e04aef2c-5da9-42da-9bf8-bd2a64e45ee6/_packaging/%60GiftOfTheGiversFeed%60/nuget/v3/index.json" />
  </packageSources>
</configuration>
